<a href="https://colab.research.google.com/github/viper-s03/daily/blob/main/DAY_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 5
print(type(a))

b = 5.0
print(type(b))

c = 2 + 4j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

In [3]:
s = 'just an example'
print(s)

# check data type
print(type(s))

# access string with index
print(s[1])
print(s[2])
print(s[-1])

just an example
<class 'str'>
u
s
e

In [5]:
# Empty list
a = []

# list with int values
a = [1, 2, 3]
print(a)

# list with mixed int and string
b = ["sunny", "this", "coding","uff", 4, 5]
print(b)

[1, 2, 3]
['sunny', 'this', 'coding', 'uff', 4, 5]

In [7]:
a = ["sunny", "this", "coding","uff", 4, 5]
print("Accessing element from the list")
print(a[0])
print(a[2])

print("Accessing element using negative indexing")
print(a[-1])
print(a[-3])

Accessing element from the list
sunny
coding
Accessing element using negative indexing
5
uff

In [9]:
# initiate empty tuple
t1 = ()

t2 = ('malla', 'reddy')
print("\nTuple with the use of String: ", t2)

Tuple with the use of String:  ('malla', 'reddy')

In [10]:
t1 = tuple([1, 2, 3, 4, 5])

# access tuple items
print(t1[0])
print(t1[-1])
print(t1[-3])

1
5
3

In [12]:
print(type(True))
print(type(False))
print(type(true))

<class 'bool'>
<class 'bool'>

NameError: name 'true' is not defined

In [14]:
# initializing empty set
s1 = set()

s1 = set("mallareddyuniversity")
print("Set with the use of String: ", s1)

s2 = set(["malla", "reddy", "university"])
print("Set with the use of List: ", s2)

Set with the use of String:  {'n', 'v', 'r', 't', 'y', 'e', 'u', 'l', 's', 'i', 'd', 'a', 'm'}
Set with the use of List:  {'malla', 'reddy', 'university'}

In [17]:
s1 = set(["malla", "reddy", "university"])
print(s1)

# loop through set
for i in s1:
    print(i, end=" ")

# check if item exist in set
print("malla" in s1)

{'malla', 'reddy', 'university'}
malla reddy university True

In [19]:
# initialize empty dictionary
d = {}


d = {1: 'ford', 2: 'GTR', 3: 'supra'}
print(d)

# creating dictionary using dict() constructor
d1 = dict({1: 'ford', 2: 'GTR', 3: 'supra'})
print(d1)

{1: 'ford', 2: 'GTR', 3: 'supra'}
{1: 'ford', 2: 'GTR', 3: 'supra'}

In [21]:
d = dict({1: 'ford', 2: 'GTR', 3: 'supra'})

# Accessing an element using key
print(d[2])

# Accessing a element using get
print(d.get(3))

GTR
supra

In [22]:
fruits = ["apple", "banana", "orange"]
print(fruits)
fruits.append("grape")
print(fruits)
fruits.remove("orange")
print(fruits)

['apple', 'banana', 'orange']
['apple', 'banana', 'orange', 'grape']
['apple', 'banana', 'grape']