<a href="https://colab.research.google.com/github/viper-s03/daily/blob/main/DAY_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
data = [23, 45, 12, 67, 34]
data.append(89)  # Add an item
print(data)
data.remove(45)  # Remove an item
print(data)

[23, 45, 12, 67, 34, 89]
[23, 12, 67, 34, 89]

In [10]:
# Create an empty list using square brackets
l1 = []

# Create a four-element list using square brackets
l2 = [1, 2, "3", 4]  # Note that this lists contains two different data types: integers and strings

# Create an empty list using the list() constructor
l3 = list()

# Create a three-element list from a tuple using the list() constructor
# We will talk about tuples later in the tutorial
l4 = list((1, 2, 3))

# Print out lists
print(f"l1: {l1}")
print(f"l2: {l2}")
print(f"l3: {l3}")
print(f"l4: {l4}")

l1: []
l2: [1, 2, '3', 4]
l3: []
l4: [1, 2, 3]

In [11]:
# Print out the first element of list l2
print(f"The first element of the list l2 is {l2[0]}.")
print()

# Print out the third element of list l4
print(f"The third element of the list l4 is {l4[2]}.")

The first element of the list l2 is 1.

The third element of the list l4 is 3.

In [13]:
l5 = l2[2:]

# Print out the resulting list
print(l5)

['3', 4]

In [15]:
# Create dictionary with duplicate keys
d1 = {"1": 1, "1": 2}
print(d1)
print(d1["1"])

{'1': 2}
2

In [16]:
d1 = {}

# Create a two-element dictionary using curly brackets
d2 = {"John": {"Age": 27, "Hometown": "USA"}, "Rebecca": {"Age": 31, "Hometown": "Chicago"}}
# Note that the above dictionary has a more complex structure as its values are dictionaries themselves!

# Create an empty dictionary using the dict() constructor
d3 = dict()

# Create a two-element dictionary using the dict() constructor
d4 = dict([["one", 1], ["two", 2]])  # Note that we created the dictionary from a list of lists

# Print out dictionaries
print(f"d1: {d1}")
print(f"d2: {d2}")
print(f"d3: {d3}")
print(f"d4: {d4}")

d1: {}
d2: {'John': {'Age': 27, 'Hometown': 'USA'}, 'Rebecca': {'Age': 31, 'Hometown': 'Chicago'}}
d3: {}
d4: {'one': 1, 'two': 2}

In [18]:
# Create a tuple using round brackets
t1 = (1, 2, 3, 4)

# Create a tuple from a list the tuple() constructor
t2 = tuple([1, 2, 3, 4, 5])

# Create a tuple using the tuple() constructor
t3 = tuple([1, 2, 3, 4, 5, 6])

# Print out tuples
print(f" t1: {t1}")
print(f" t2: {t2}")
print(f" t3: {t3}")

 t1: (1, 2, 3, 4)
 t2: (1, 2, 3, 4, 5)
 t3: (1, 2, 3, 4, 5, 6)

In [19]:
t1[0] = 1

TypeError: 'tuple' object does not support item assignment

In [20]:
print(f"The value at index 1 in t2 is {t2[1]}.")

The value at index 1 in t2 is 2.